<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chatty Roomy</title>
    <link rel="stylesheet" href="/static/css/css-reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="static/libs/jquery.min.js"></script>
</head>

<body>
    <router-view id="app"></router-view>
    <script src="/static/js/main.js" charset="utf-8"></script>
</body>

</html>
