@import "/src/less/user/common.less";

footer.form-group {
    margin-top: 70px;
}

.user-signup-enter-active {
    transition: 1s transform 0.3s, 1s opacity 0.3s;
}

.user-signup-leave-active {
    transition: transform 1s, opacity 1s;
}

.user-signup-enter, .user-signup-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

.message {
    color: rgb(227, 110, 110);
}

.message.green {
    color: rgb(110, 227, 115);
}
