@import "/src/less/color-variable.less";
// @darkgray: rgb(30, 32, 34);
// @darkgray-1: lighten(@darkgray, 2%);
// @darkgray-2:lighten(@darkgray, 4%);
// @palmgreen: rgb(62, 148, 86);

.chat-background {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
}

.chat-background-color {
    background-color: @darkgray;
}

.chat-background-blur {
    // background-image: url("/static/img/background/default.png");
    filter: blur(5px);
    transition: 3s;
}

.chat-background-blur-custom {
    filter: blur(5px);
    opacity: 0;
    transition: 3s;
}

.chat-container {
    color: white;
    height: 100%;
    width: 100%;
}

.channel-box {
    order: 0;
    flex: 0 1 300px;
    background: @darkgray-1;
    user-select: none;

    .channel-header {
        order: 1;
        flex: 1 0 60px;
        background: @darkgray-1;
        border-bottom: 1px solid @darkgray;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
        line-height: 60px;
        justify-content: space-between;

        .title {
            color: lightgray;
            padding-left: 20px;
        }
    }

    .channel-body {
        order: 2;
        flex: 0 1 auto;
        background: @darkgray-1;
        height: 100%;
    }
}

.chat-box {
    order: 1;
    flex: 0 1 auto;
    background: @darkgray-2;
    width: 100%;

    .chat-header {
        order: 1;
        flex: 1 0 60px;
        background: @darkgray-2;
        border-bottom: 1px solid @darkgray-1;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
        justify-content: space-between;

        .title {
            line-height: 60px;
            order: 1;
            flex: 0 0 auto;
            color: #EEE;
            padding-left: 20px;
        }

        .button-box {
            order: 2;
            flex: 0 0 auto;
            width: auto;
            padding: 0 20px;
            color: #EEE;

            .button-item {
                // background-color: lighten(@darkgray, 6%);
                background-image: url("/static/img/logout.svg");
                background-size: 25px;
                background-position: center;
                background-repeat: no-repeat;
                flex: 0 0 40px;
                width: 40px;
                cursor: pointer;
            }
        }
    }

    .chat-main {
        order: 2;
        flex: 0 1 auto;
        background: @darkgray-1;
        height: 100%;

        .chat-content {
            order: 1;
            flex: 0 1 auto;
            background: @darkgray-2;
            width: 100%;
            height: 100%;
            display: flex;

            .chat-area {
                order: 1;
                flex: 1 0 auto;
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .chat-input-box {
                order: 2;
                flex: 0 0 auto;
                padding: 20px 30px;
                border-top: 1px solid @darkgray-3;
                display: flex;

                .text-box {
                    flex: 1 0 auto;
                    padding: 10px;
                    color: @lightgray;
                    background: rgba(255, 255, 255, 0.05);
                    border: 2px solid @midgray;
                    border-radius: 5px;
                    resize: none;
                    outline: none;
                }
            }
        }

        .friend-box {
            order: 2;
            flex: 0 1 300px;
            background: @darkgray-1;
            width: 100%;
            user-select: none;

            .friends-list-title {
                margin-top: 10px;
                padding: 10px 20px;
                line-height: 20px;
                color: @midgray;
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;

                span {
                    order: 1;
                    display: flex;
                }

                .add-friend {
                    order: 2;
                    height: 20px;
                    width: 20px;
                    // background-color: lighten(@darkgray, 6%);
                    background-image: url("/static/img/add.svg");
                    background-size: 15px;
                    background-position: center;
                    background-repeat: no-repeat;
                    flex: 0 0 auto;
                    cursor: pointer;
                    align-self: flex-end;
                    display: flex;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.addfriendmodal {
    h2 {
        margin: 0 0 10px;
    }

    p {
        margin: 5px 0 15px;
    }

    input {
        width: 100%;
        border: 2px solid #2E4985;
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 1.4rem;
        outline: none;
    }

    .button {
        margin: 10px 0 0;
    }
}

.modal {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .modal-content {
        border-radius: 10px;
        box-shadow: 0 0 10px 1px black;
        padding: 20px;
        position: relative;
        z-index: 2;
        background: #EEE;
        flex: 0 0 auto;
    }

    .button {
        border-radius: 6px;
        display: inline-block;
        width: auto;
        height: auto;
        padding: 10px 15px;
        font-size: 1.6rem;
        color: white;
        background: rgb(17, 106, 171);
        cursor: pointer;
        user-select: none;
    }
}

.scroller::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scroller::-webkit-scrollbar-track-piece {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

.scroller::-webkit-scrollbar-button {
    background: none;
    width: 8px;
}

.chat-enter {
    transform: scale(0.8);
    opacity: 0;
}

.chat-enter-active {
    transition: 1s all 0.3s;
}

.chat-leave-active {
    transform: scale(0.8);
    opacity: 0;
    transition: 1s all 0s;
}
